body
{
	/*font-family:sans-serif;*/
	font-family:times, serif;
	margin:0px;
	padding:5px;
}

.label
{
    /*font-family:inherit;*/
}

#container
{
	position:absolute;
	width:98%;
	height:98%;
	margin:0px;
	padding:0px;
}

#equation
{
	font-size:40pt;
	
	position:absolute;
	bottom:100px;
	width:100%;
}

#history
{
	font-size:40pt;
	color:#808080;
	
    position:absolute;
    top:30px;
	bottom:100px;
	overflow:auto;
	width:100%;
}

span.historyDivider
{
    position:absolute;
    background:#C0C0C0;
    height:1px;
}

#doBackend, #generate, #postProcessing, #finalize
{
	/*display:none;*/
}

#variableList
{
    position:absolute;
    right:20px;
    top:20px;
}

.variableListItem
{
    margin-bottom:.5em;
    text-align:right;
    font-size:20pt;
    font-family:times, serif;
}

.variableListItem > span
{
    vertical-align:middle;
}

.variableListItem > input
{
    vertical-align:middle;
    font-size:inherit;
    font-family:inherit;
    width:5em;
}

.variableListItem > button
{
    height:20pt;
    vertical-align:middle;
}

#debug
{
	/*display:none;*/
	position:absolute;
	bottom:30px;
	z-index:-10;
}

#license
{
	position:absolute;
	left:0px;
	bottom:5px;
	width:100%;
	height:20px;
	text-align:center;
}

.historyElement
{
    padding:2px;
	margin:0px;
	padding-left:3px;
	padding-right:3px;
	font-size:100%;
    cursor:default;
}

.clickable
{
	padding:2px;
	margin:0px;
	padding-left:3px;
	padding-right:3px;
	font-size:100%;
	cursor:pointer;
}

.clickable:hover
{
	border:1px solid #000000;
}

.constant
{
    font-style:italic;
}

.variable
{
    font-style:normal;
}

.parentheses
{
	cursor:default;
}

.operator, .historyOperator
{
	padding-left:12px;
	padding-right:10px;
}

.operatorDivision > .operator		/*  Division operator  */
{
	/*margin-right:-.5em;*/
}

.parameterDivision0		/*  Numerator  */
{
	margin:0px;
	position:relative;
	top:-.65em;
	font-size:100%;
}

.parameterDivision1		/*  Denominator  */
{
	margin:0px;
	position:relative;
	top:.65em;
	font-size:100%;
}

.parameterDivision2		/*  Line between numerator and denominator  */
{
	display:inline;
	padding:0px;
	padding-left:2px;
	padding-right:2px;
	margin:0px;
	position:relative;
	background:#000000;
	width:7px;
	height:2px;
}

/*  Line between numerator and denominator within the 'history' container  */
#history .parameterDivision2
{
    background:#808080;
}

.operatorSum > .operator		/*  Sum operator  */
{
	/*margin-right:-.5em;*/
}

.parameterSum0			/*  Operation  */
{
	margin:0px;
	position:relative;
	font-size:100%;
}

.parameterSum1			/*  Start value  */
{
	margin:0px;
	position:relative;
	top:1.25em;
	font-size:40%;
}

.parameterSum2			/*  End value  */
{
	margin:0px;
	position:relative;
	top:-2em;
	font-size:40%;
}

.operatorPower > .operator		/*  Power operator  */
{
	/*display:none;*/
}

.parameterPower0			/*  Base  */
{
	margin:0px;
	margin-right:-.1em;
}

.parameterPower1			/*  Exponent  */
{
	margin:0px;
	font-size:50%;
}

.parameterParentheses1, .parameterParentheses2
{
	cursor:default;
	font-family:sans-serif
}

.subscript0
{
    
}

.subscript1
{
    position:relative;
    top:.35em;
    font-size:55%;
}


/* iphone portrait */
@media screen and (min-width: 320px) and (max-width: 320px)
{
	body
	{
		height: 406px;	/*416*/
		margin:0px;
		padding:5px;
	}
	
	#container
	{
		position:relative;
	}
}

/* iphone landscape */
@media screen and (min-width: 480px) and (max-width: 480px)
{
	body
	{
		height: 259px;	/*269*/
		margin:5px;
		padding:0px;
	}
	
	#container
	{
		position:relative;
	}
}

/* ipad landscape */
@media screen and (min-width: 1024px) and (max-width: 1024px)
{
	body
	{
		height: 681px;	/*691*/
		margin:5px;
		padding:0px;
	}
	
	#container
	{
		position:relative;
	}
}

/* ipad portrait */
@media screen and (min-width: 768px) and (max-width: 768px)
{
	body
	{
		height: 937px;	/*947*/
		margin:5px;
		padding:0px;
	}
	
	#container
	{
		position:relative;
	}
}

/* retina! */
@media screen and (-webkit-min-device-pixel-ratio: 2)
{
	body
	{
		font-family: "Helvetica Neue", sans-serif;
		/*background-image: url('wallpaper-retina.jpg');
		background-size: 480px 480px;*/
	}
	
	#container
	{
		position:relative;
	}
}